* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.container {
    width: 80%;
    height: 80%;
    background-color: silver;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}

#discount {
    align-self: center;
    font-size: 30px;
    color: red;
}

.details {
    display: flex;
    justify-content: space-around;
}

.price {
    display: flex;
    justify-content: space-between;
}

.details>div,
.price>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

span:first-child {
    font-size: 30px;
}